[submodule "services/backend"]
	path = services/backend
	url = https://github.com/SNA-TEAM-43/backend.git
[submodule "services/monitoring"]
	path = services/monitoring
	url = https://github.com/SNA-TEAM-43/monitoring.git
